
body,html{
    background:#fff;
    height:100%;
}
.mainmessage{
    flex:1;
}
.homeRoot{
    background:#fff;
    z-index:999999;
    position:fixed;
    
}
header{
    height:.86rem;
    margin-bottom:5px;
    background:#fff;
    margin-bottom:.86rem;
    overflow: hidden;
    top: 0;
}
.main-c { 
    width:100%;
    
    .main-c-t{
        padding:5px 10px 5px 10px;
        height:.5rem;
        line-height: .5rem;
        .main-c-t-search{
            .main-c-t-l{
                float:left;
                span{
                    color:#898989;
                    display:block;
                    float:left;
                    &:nth-child(2){
                        margin:0 3px;
                    }
                    &:nth-child(3){
                        i{
                            margin-right:3px;
                        }
                    }
                }
            }
            .main-c-t-r{
                float:left;
                position:relative;
                input{
                    width: 2.19rem;
                    border: 0;
                    height: 25px;
                    background: #e9e9e9;
                    border-radius: 4px;
                    color: #ccc;
                    text-indent: 10px;
                    font-size: 13px;
                    outline: 0;

                }
                i{
                    width: 11px;
                    height: 11px;
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    background-position: 0 0;
                    color:#ccc;
                    font-size:10px;
                }
                img{
                    width:.25rem;
                    height:.25rem;
                    position:absolute;
                    right:-.34rem;
                    top:.12rem;
                }
            }
        }
    }
    .main-c-b{
        width: 100%;
        margin-top:.05rem;
        ul{
            height:.36rem;
            overflow:auto;
            display:flex;
            width: 100%;
            li{
                position:relative;
                width:0.745rem;
                line-height:.36rem;
                text-align: center; 
      
            }
            li:nth-child(1){
                a{        
                    color:lightgreen;
                    border-bottom:2px solid lightgreen;
                    padding-bottom:7px;
                }
            }
        }
    }
}
.banner{
    margin-top: 0.88rem!important;
}
.swiper-pagination-bullet-active{
    width:.2rem !important;
    height:6px !important;
    background:#fff !important;
    border-radius:0 !important;
}
.swiper-pagination-bullet{
    background:#fff !important;
    opacity:.5 !important;
}

.enav-c{
    ul li{
        a{
            width:.75rem;
            height:.96rem;
            float:left;
            img{
                width:100%;
                height:100%;
            }
        }
    }
}

.empty-c{
    width:100%;
    height:.1rem;
    background:#f3f4f5;
}
.newPerson{
    width:100%;
    height:1.2rem;
    img{
        width:100%;
        height:100%;
    }
}

.atlas-c{
    padding-bottom: 5px;
    display:flex;
    justify-content: space-between;
    height:.77rem;
    margin-top:.1rem;
    .brandSale{
        width:1.87rem;
        margin-left:.1rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .more-c{
        width:0.6rem;
        height: .55rem;
        margin-top:.1rem;
        img{
            width:100%;
            height:100%;
        }
    }
}

.atlas-img-c{
    img{
        display:block;
        width:100%;
        height:1.6rem;
        margin-bottom:.1rem;
    }
}

.footer-c{
    margin-top:45px;
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 103;
    border-top: 1px solid #e7e7e7;
    padding-bottom: constant(safe-area-inset-bottom);
    box-sizing: content-box; 
    background:#fff;

    display:flex;

    a{
        flex-grow:1;flex-shrink:1;
        height:45px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color:#a7a7a7;

        &.active{
            color:lightgreen;
        }

        i{
            font-size:.2rem;
        }
        span{
            font-size:.14rem;
        }
    }
}

.ExperienceBanner{
    // height:2.5rem;
    .experienceBanner{
        margin-top:-86px;
    }
}

.littleTheater{
    margin-bottom:85px;
}
.virtualDog{
    h3{
        text-align: center;
        color:#333;
        font-weight: normal;
        font-size:12px;
        margin-top:10px;
    }
    .ppp-c{
        width:100%;
        padding-bottom:10px;
        .ppp-v{
            margin:0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width:30%;
            p{
                color:#b2b2b2;
                font-size: 12px;
                &::nth-child(2){
                    margin:0 10px;
                }
            }
        }
    }
}
.overseas-c{
    height:2.5rem;
    display:flex;
    .overseas-l{
        width:50%;
        img{
            width:100%;
            height:100%;
        }
    }
    .overseas-r{
        width:50%;
        img{
            width:100%;
            height:50%;
        }
    }
}
.Ec-c{
    width:100%;
    height:0.3rem;
    img{
        width:100%;
        height:100%;
    }
}
.emptya-c{
    height:10px;
    background:#f3f4f5;
}

.dailyRushed{
    display:flex;
    overflow: auto;
    padding:0 .2rem;
    padding-bottom:.1rem;
    .dailyRushedItem{
        margin-right:0.2rem;
        width:0.98rem;
        height:1.3rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
            width:0.84rem;
            height:0.84rem;
            display:block;
            img{
                width:100%;
                height:100%;
            }
        }
        p{
            margin-top:10px;
            span{
                display:block;
                font-size:12px;
                &:nth-child(1){
                    color:red;
                }
            }
        }
    }
}

.search{
    .search-c{
        background:#fff;
        padding: 7px 12px;
        display: flex;
        display: -webkit-flex;
        span{
            &:nth-child(1){
                width: 16px;
                height: 16px;
                margin-top: 8px;
                border-top: 1px solid #999;
                border-left: 1px solid #999;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
        .searchForm{
            flex: 1;
            -webkit-flex: 1;
            display: flex;
            display: -webkit-flex;
            height: 35px;
            line-height: 35px;
            background: #f6f6f6;
            padding: 0 10px;
            border-radius:5px;
            input{
                flex: 1;
                -webkit-flex: 1;
                border: none;
                background: #f6f6f6;
                height: 35px;
                line-height: 35px;
                font-size: 14px;
                padding-right: 0;
                padding-left: 0;
                input[type=text] {
                    height: 30px;
                    -webkit-appearance: none;
                    padding: 0 15px;
                    background-color: #fff;
                    border: 1px solid #d0d0d0;
                    border-radius: 3px;
                    outline: 0;
                }
            }
            i{
                color:#ccc;
                margin-top:8px;
                font-size:16px;
            }
        }
        .searchContent{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            line-height: 32px;
            margin-left: 5px;
            cursor: pointer;
            font-size:16px !important;
        }
    }
    .title{
        background: #fbfbfd;
        height: 30px;
        line-height: 30px;
        padding-left: 12px;
        font-size: 14px;
        img{
            height: 20px;
            margin: -2px 8px 0 0;
        }
    }
    .label{
        padding: 0 12px 23px;
        background:#f4f5f7;
        a{  
            display:inline-block;
            padding: 3px 10px;
            margin: 10px 10px 0 0;
            color: #999;
            background:#fff;
            font-size: 12px;
            border-radius: 15px;
        }
    }
    .searchEmpty{
        width: 60%;
        margin: 40px auto 60px;
        line-height: 40px;
        font-size: 15px;
        border: 1px solid #777;
        border-radius: 5px;
        text-align: center;
    }
}