body{
    background: chartreuse;
    background: #FFFFFF;
    width: 100%;
}
.wap-top-bar{
    .head-top {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        border-bottom: 1px solid #f3f3f3;
        .fa-angle-left{
            font-size:30px;
            margin-top:10px;
            color: #999;
        }
        .topbar-title{
            display:inline-block;
            text-align: center;
            font-size:0.18rem;
            width: 90%;
            margin: 0 auto;
        }
        .fa-th-large{
            font-size:0.24rem;
            color: #999;
        }
    }
    .zcolor{
        color: #333;
    }
    .search-wrap{
        z-index: 20;
        padding: 10px 10px;
        .search{
            background: #f6f6f6;
            height: 40px;
            border-radius:0.05rem ;
            padding:0 10px ;
            position: relative;
            a{
                .fa-search{
                    font-size: 20px;
                    line-height: 40px;
                    color: #999;
                }
                .search-text{
                    color: #666;
                    font-size: 0.14rem;
                    input {
                        position: absolute;
                        height: 40px;
                        border-radius: 3px;
                        border: none;
                        background: #f6f6f6;
                        font-family: "Microsoft Yahei",tahoma,arial;
                        outline: none;
                        width: 90%;
                        text-indent: 5px;
                        margin-left: 25px;
                        margin-top:-40px;
                    }
                }
            }
        }
    }
    .product-list{
        .brands-list{
            
            li{
               
               padding:10px 10px; 
               .pd-box{
                   display: flex;
                    a{
                        display: inline-block;
                        .index-listimg{
                            width:1rem;
                            height: 1rem; 
                            .image{
                               width:100%;
                               height:100%;
                            }
                        }
                    } 
                    .index-listpro{
                       
                        a{
                            .el2{
                                height: 32px;
                                overflow: hidden;
                                font-size: 12px;
                                line-height: 16px;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                    font-weight: 400;
                            }
                        }
                        .cu{
                            height: 0.25rem;
                            margin-top: 5px;
                            font-size: 0.12rem;
                            .dib{
                                display: inline-block;
                                margin-right: 3px;
                                a{
                                    img{
                                        height: 0.2rem;
                                    }
                                }
                            }
                        }
                        div{
                            .cred{
                                font-size: 0.14rem;
                                color: red;
                            }
                            .ml10{
                                margin-left: 10px;
                                font-size: 0.12rem;
                                color: #ccc;
                            }
                        }
                        .c999{
                            color: #999;
                            font-size: 0.12rem;
                            .ml5{
                                margin-left: 5px;
                            }
                        }
                    }  
               }
            }
        }
    }
}
//  {
//                  data.map((item,i)=>(
//                      <p>{item.subject}</p>
//                  ))
//              }