#tab1 {
    .leftbox { 
        position: absolute;
        top: 40px;
        left: 0;
        overflow-y: scroll;
        bottom: 0;
        padding-bottom: 45px;
        border-right: 5px solid #f3f4f5;
        div {
            ul {
                li {
                    padding: 15px 0;
                    border-bottom: 1px solid #f3f4f5;
                    width: 70px;
                    font-size: 0.14rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    text-align: center;
                    .ftc {
                        text-align: center;
                    }
                }
                .on {
                    background: #f3f4f5;
                    color: #ed4044;
                }
            }
        }
    }
}
.bgfff{
    background: #fff;
}
