@import './particles/components/_App.scss';
@import './particles/_reset.scss';
@import './particles/_common.scss';
@import './particles/components/_good-list.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
